<div class="post-details" *ngFor="let posts of redditPosts,">
    <div class="post-children">

        <img class="post-image" src="{{posts.data.thumbnail}}">
        <div class="text-heart-container">
            <div class="heartlink-stack">
                <img class="heart-image" src="/assets/heart.png" alt="Heart Icon">
                <a href="{{posts.data.url}}"><img class="link" src="/assets/link.png"></a> 
            </div>
         
            <p class="title-text">{{posts.data.title}}</p>
        </div>
        
    </div>
</div>